<div id="transactions-page" class="p-2 bg-gray-100" data-controller="transactions--index">
  <div class="block items-center justify-between p-4">
    <div class="w-full">
      <div class="mb-4">
        <!--<%= render 'helpers/breadcrumbs', crumbs: [['Transactions']] %>-->
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Your Transactions</h1>
      </div>
      <%= render 'transactions/index_header' %>
    </div>
  </div>
  <div id="transactions_list_frame" class="relative overflow-x-auto p-4 pt-0">
    <%= render(Transactions::ListComponent.new(user: current_user, columns: @columns, filter: @filter, page: params[:page])) %>
  </div>
  <div id="background_processing_modal"></div>
</div>
