<div 
  id="background_processing_modal"
  data-controller="helpers--background_processing_modal"
  tabindex="-1" 
  aria-hidden="true"
  data-job_id="<%= job_id %>"s
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  data-turbo-temporary>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Hang Tight!
        </h3>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div id="progress-spinner" class="flex items-center justify-center w-100 h-32">
          <div role="status">
            <%= render 'icons/loading-spinner' %>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="text-sm">
          <div class="flex justify-center" id="progress-message">We are working on your request</div>
          <div class="flex justify-center" id="status-message"></div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b justify-end justify-items-center">
        <button data-action="click->helpers--background_processing_modal#close_modal" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">Decline</button>
      </div>
    </div>
  </div>
</div>
</div>