<nav class="flex mb-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
    <li class="inline-flex items-center">
      <a href="/" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
        <%= render "icons/home" %>
        Home
      </a>
    </li>
    <% crumbs.each do |crumb| %>
      <li>
        <div class="flex items-center">
          <%= render "icons/arrow-right" %>
          <% if crumb[1].nil? %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Transactions</span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</nav>