<div id="progress-spinner" class="flex items-center justify-center w-100 h-32 <%= hide ? 'hidden' : '' %>">
  <div role="status">
    <%= render 'icons/loading-spinner' %>
    <span class="sr-only">Loading...</span>
  </div>
</div>