<div
  data-controller="assets--index"
  id="net-worth-page"
  class="p-2 bg-gray-100">
  <div class="flex m-4 justify-between">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Your Net Worth</h1>
    <div class="flex justify-center items-center text-green-800 font-bold"><%= number_to_currency current_user.net_worth %></div>
  </div>
  <div class="flex">
    <div class="w-1/2 bg-white rounded-lg border border-gray-300 p-4 m-4 overflow-hidden"></div>
    <div class="w-1/2 bg-white rounded-lg border border-gray-300 p-4 m-4 overflow-hidden"></div>
  </div>
  <div class="m-4 p-4 bg-white border border-gray-300 rounded-lg">
    <div class="flex">
      <h3 class="flex-1 text-xl font-semibold text-gray-900 flex items-center">Assets</h4>
      <button data-action="click->assets--index#open_add_drawer" class="flex p-2 py-1.5 rounded-lg text-sm text-white bg-primary-700 items-center justify-center">
        <%= render 'icons/plus' %>
        <span class="pl-1">Add Asset</span>
      </button>
    </div>
    <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4">
      <% @assets.each do |asset| %>
        <%= render('financial_assets/row', asset: asset) %>
      <% end %>
    </div>
  </div>
  <%= render('financial_assets/new') %>
</div>
