<div class="text-gray-900 text-sm w-full rounded-lg overflow-hidden">
  <%=  render(ConditionComponent.new(condition: @conditions, references: @references)) %>
</div>
<button
    data-action="click->transaction_rules--new#add_rule"
  data-parent="1"
  class='cursor-pointer text-white bg-blue-700 font-sm text-xs rounded-lg text-sm px-4 py-2 text-center my-2'>
  Add Condition
</button>
