<div id="connectors-page bg-white">
  <div class="p-6 relative overflow-x-auto bg-white">
    <div class="text-base mb-6">Hello, <%= current_user.name %>!</div>
    <div class="flex mb-4">
      <div class="text-2xl my-4">Connected Banks</div>
      <div class="flex flex-1 justify-end">
        <%= link_to "Add New", new_connector_path, class: 'bg-primary text-white hover:bg-primary/90 py-2 px-4 rounded-md my-3 text-sm font-medium', data: {'turbo-stream' => ''} %>
      </div>
    </div>
    <div>
      <% @connectors.each do |connector| %>
        <%= render "connectors/connector_accounts", 
            bank: connector, 
            accounts: connector.accounts, 
            bank_options: @user_references[:banks], 
            account_types: @user_references[:account_types],
            refresh_path: new_connector_path(bank: connector.bank) %>
      <% end %>
    </div>
  </div>
</div>
<div id="new_connector"></div>
