<div id="connectors-page bg-gray-100">
  <div class="p-6 relative overflow-x-auto">
    <div class="flex mb-4">
      <div class="text-2xl my-4">Connected Banks</div>
      <div class="flex flex-1 justify-end items-center">
        <%= link_to "Add New", new_connector_path, class: 'p-2 py-1.5 rounded-lg text-sm text-white bg-primary-700', data: {'turbo-stream' => ''} %>
      </div>
    </div>
    <div>
      <% @connectors.each do |connector| %>
        <%= render "connectors/connector_accounts", 
            bank: connector, 
            accounts: connector.accounts, 
            bank_options: @user_references[:banks], 
            account_types: @user_references[:account_types],
            refresh_path: new_connector_path(bank: connector.bank) %>
      <% end %>
    </div>
  </div>
</div>
<div id="new_connector"></div>
