<div 
  data-controller="widgets--piechart" 
  data-chart_data="<%= data.to_json %>">
  <h2 class="text-xl font-semibold leading-tight text-gray-800 mb-4">
    Total Assets: <%= number_to_currency(total) %>
  </h2>
</div>
