<div id="accounts-page">
  <div class="block items-center justify-between border-b border-gray-200 bg-white p-4 dark:border-gray-700 dark:bg-gray-800 sm:flex">
    <div class="mb-1 w-full">
      <div class="mb-4">
        <nav class="flex mb-5" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
            <li class="inline-flex items-center">
              <a href="/" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
                <%= render "icons/home" %>
                Home
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <%= render "icons/arrow-right" %>
                <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Accounts</span>
              </div>
            </li>
          </ol>
        </nav>
        <h1 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Your Accounts</h1>
      </div>
    </div>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Account Name
          </th>
          <th scope="col" class="px-6 py-3">
            Type
          </th>
          <th scope="col" class="px-6 py-3">
            Balance
          </th>
          <th scope="col" class="px-6 py-3">
            Bank
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |a| %>
          <%= render "accounts/account_row", account: a, bank_options: @bank_options, account_types: @account_types %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
