<div id="accounts-page">
  <div class="block items-center justify-between border-b border-gray-200 bg-white p-4 sm:flex">
    <div class="mb-1 w-full">
      <div class="mb-4">
        <%= render 'helpers/breadcrumbs', crumbs: [['Accounts']] %>
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Your Accounts</h1>
      </div>
    </div>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr class="bg-gray-100 text-left">
          <th scope="col" class="px-4 py-3 font-medium text-gray-700">
            Account Name
          </th>
          <th scope="col" class="px-4 py-3 font-medium text-gray-700">
            Type
          </th>
          <th scope="col" class="px-4 py-3 font-medium text-gray-700 text-right">
            Balance
          </th>
          <th scope="col" class="px-4 py-3 font-medium text-gray-700">
            Bank
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @accounts.each do |a| %>
          <%= render "accounts/account_row", account: a, bank_options: @bank_options, account_types: @account_types %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
