<div id="transaction_rules_conditions">
  <h1 class="text-lg">Rule Conditions</h1>
  <div class="my-4">
    <%= render(TransactionRules::ConditionGroupComponent.new(group: group, references: references)) %>
  </div>
</div>
